@use 'helpers' as *;

:root{
    --container-width: #{rem(1640)};
    --container-padding-x: #{rem(15)};

    --font-family-base: 'Rubik', sans-serif; 
    --font-family-accent: 'Montserrat', sans-serif; 
    
    --color-text: #ffffff;
    --color-background: #141414;
    --color-light-dark: #093188;

    --main-box-shadow: #{rem(5)} #{rem(5)} #{rem(10)} rgb(0, 0, 0), #{rem(0)} #{rem(-4)} #{rem(10)} rgba(255, 255, 255, 0.051); 
    --main-heading-shadow: #{rem(5)} #{rem(5)} 0 rgba(0, 0, 0, 0.4);
    --main-text-shadow: #{rem(2)} #{rem(2)} #{rem(5)} rgba(0, 0, 0, 0.842);
    
    --button-padding: #{fluid(18, 14)} #{fluid(35, 25)};

    --border-radius-base: #{rem(15)};
    --border-radius-accent: #{rem(50)};
    --border-radius-circle: 50%;
    
    --transition-duraction-faster: 0.2s;
    --transition-duraction-medium: 0.5s;

    --main-opacity-sections: 0;
}


.light-them{
    --color-text: #000000;
    --color-background: #ffffff;
    --main-box-shadow: #{rem(5)} #{rem(5)} #{rem(10)} rgb(0, 0, 0), #{rem(0)} #{rem(-4)} #{rem(10)} rgba(255, 255, 255, 0.051); 
    --main-heading-shadow:  none;
    --main-text-shadow: none;
}