@use '../../helpers' as *;

.aboutUs{
    position: relative;
    margin-top: rem(150);
    &__container{
        height: rem(800);
        display:flex;
        flex-direction: column;
        justify-content: center;
    }

    &__image-content{
        position:absolute;
        top:50%;
        right: rem(-400);
        z-index: -10;
        transform: translateY(-45%);
    }

    &__text-content{
        max-width: rem(800);
    }

    &__text{
        margin-top:rem(25);
        margin-bottom:rem(35);
        text-shadow: var(--main-text-shadow);
        @include fluid-text(21, 14);
    }
}