@use '../../helpers' as *;

.dadada{
    margin-top:rem(150);
    height: rem(800);

    background: linear-gradient(
        180deg,  
        var(--color-background), 
        rgba(25, 24, 32, 0.534) 51.04%, 
        var(--color-background) 97.2%
    ),
    url('./../images/dadada/athlete-doing-pull-ups.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;;
}