@use '../../helpers' as *;

.header{
    position:sticky;
    top:0;

    transition: box-shadow var(--transition-duraction-medium) ease;
    padding-block:rem(20);
    background-color: var(--color-background);

    &__container{
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__menu-options{
        position:relative;
        display: flex;
        align-items: center;
        column-gap: rem(10);
    }

    &__window-settings{
        position:absolute;
        bottom:rem(-230);
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;

        width: rem(300);
        height: rem(200);
        background-color: var(--color-background);
        box-shadow:var(--main-box-shadow);
        border-radius: var(--border-radius-base);
    }

    &__setting-theme{
        width: 90%;
        margin: rem(10) auto;
        display:flex;
        justify-content: center;
    }
    
    &__button-theme{
        width: 45%;
        background-color: var(--color-background);
        border-radius: var(--border-radius-accent);
        box-shadow:var(--main-box-shadow);
    }

    &__setting-theme-circle{
        width:rem(50);
        height: rem(50);
        margin-right:auto;
        padding: rem(25);
        background-color: #ffffff;
        box-shadow:var(--main-box-shadow);
        border-radius: var(--border-radius-circle);
    }

    &__menu-burger, &__button-settings, &__menu-account{
        width: rem(55);
        height: rem(55);
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-background);
        box-shadow: var(--main-box-shadow);
        border-radius: var(--border-radius-circle);
        transition-duration: var(--transition-duraction-faster);        
        &:hover{
            box-shadow: none;
        }
    }
    
    @media (max-width: 425px){
        &__container{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__account-image, &__settings-image, &__burger-image{
            width:rem(25);
            height: rem(25);
        }

        &__menu-burger, &__button-settings, &__menu-account{
            width:rem(45);
            height: rem(45);
        }
    }
}

.scrollHeader{
    padding-block:rem(10);
    box-shadow: 0 rem(5) rem(10) rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.btnThemAnim{
    margin-right:0;
    margin-left:auto;
    
}

